<div class="container">
    <button class="arrow-left control" aria-label="Previous image" (click)="prevSlide()">◀</button>
    <button class="arrow-right control" aria-label="Next Image" (click)="nextSlide()">▶</button>
    <div class="gallery-wrapper">
      <div class="gallery">
        
        <div class="sombra-container">
          <div class="c1">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
        </div>
        <div class="sombra-container">
          <div class="c2">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
        </div>
        <div class="sombra-container">
          <div class="c3">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
        </div>
        <div class="sombra-container">
          <div class="c4">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
        </div>
        <div class="sombra-container">
          <div class="c5">
            <h2 class="titulo-container">Para uma alimentação saudavel</h2>
            <p class="texto-container">Ingerir, diariamente, cinco porções de frutas, verduras e legumes.
            Metade do prato deve ser composto por verduras e legumes.</p>
          </div>
        </div>
        <div class="c6">&nbsp;</div>
      </div>
    </div>
  </div>
  