<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dicas</title>
 
</head>
<body>
  <div class="container">
    <h1 class="page-title">Dicas Úteis</h1>

    <div class="dica">
      <h2>Dica #1: Como Organizar seu Tempo</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum mattis velit, id consectetur justo dapibus eu.</p>
    </div>

    <div class="dica">
      <h2>Dica #2: Melhores Práticas de Estudo</h2>
      <p>Nullam lobortis eros eros, nec malesuada nunc tincidunt non. Ut pellentesque velit at arcu bibendum dapibus.</p>
    </div>

    <div class="dica">
      <h2>Dica #3: Como Aproveitar seu Tempo Livre</h2>
      <p>Phasellus ullamcorper, velit nec euismod elementum, est justo efficitur diam, vel vestibulum orci justo sit amet dui.</p>
    </div>



  </div>
</body>
</html>
